@using Poly.Admin.Models;
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (WebsiteViewModel website in Model.WebsiteModels)
    {
        <div class="col-md-12">
            <h2 class="header" data-toggle="collapse" data-target="#@website.Id">@website.Name</h2>
            <div id="@website.Id" class="collapse">
                @{Html.RenderPartial("_Website", website);}
            </div>
        </div>
                    }

    <button onclick="createWebsite()" class="btn btn-dark m-2" id="addWebsite">Add Website</button>
    <div class="col-md-12 remove" id="newWebsite">
        <h2 class="header" data-toggle="collapse" data-target="#newItemTemp">New Website</h2>
        <div id="newItemTemp" class="collapse">
            @{var newWebsite = new WebsiteViewModel() { Schedule = DateTime.Parse("1900/01/01 00:00:00") };}
            @{
                Html.RenderPartial("_Website", newWebsite);
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function setUserAgent() {
            $("#newItemTemp").find("#UserAgent").val(navigator.userAgent);
            console.log($("#newItemTemp").find("#UserAgent"));
        }

        function createWebsite() {
            var websiteSection = $("#newWebsite");
            var addButton = $("#addWebsite");

            websiteSection.toggleClass("remove");
            addButton.toggleClass("btn-dark")
            addButton.toggleClass("btn-secondary")

            if (!websiteSection.hasClass("remove")) {
                addButton.text("Undo");
            }
            else {
                addButton.text("Add Website");
            }

            setUserAgent();
        }
    </script>
}
