@{
    ViewBag.Title = "Email Confirmed! :D";
}

<div class="container pt-4">
    <h2>@ViewBag.Title</h2>
    <div>
        <p>
            Once your account has been approved you'll be able to log in.
        </p>
    </div>
</div>

<script>
    //pulse login
    $(function () {
        $("#loginNav").on('click', function () {
            $(this).removeClass('pulsate rounded');
        });

        $("#loginNav").addClass('pulsate rounded');
    });
</script>