@{
    ViewBag.Title = "Pending Confirm Email";
}

<h2>Thank you for registering with PriceBoar!</h2>
<br />
<div>
    <h4>You're 2 steps away from complting registration:</h4>
    <ol>
        <li>Check your mail box to confirm your e-mail.</li>
        <li>Once confirmed, your account will be active within 24 hours.</li>
    </ol>
</div>
