* {
    font-family: sans-serif;
}

.dl-horizontal dt {
    white-space: normal;
}

.carousel {
    margin-bottom: 4rem;
}

.bg-main-yellow {
    background-color: #F49D1A;
}

.bg-secondary-yellow {
    background-color: #EDCA5C;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
    background-color: #EDCA5C;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(237, 202, 92, 0.0);
    }

    50% {
        opacity: 1.0;
        background-color: rgba(237, 202, 92, 0.5);
    }

    100% {
        opacity: 0.5;
        background-color: rgba(237, 202, 92, 0.0);
    }
}

/* Bruce */

.pl_readmore {
    overflow-y: hidden;
}

.pl_priceChart {
    height:200px;
}

.pl_dealH2 {
    font-weight:bold;
}

.pl_goodDeal {
    color: white;
    background-color: mediumseagreen !important;
}

.pl_badDeal {
    color: white;
    background-color: darkred !important;
}

.pl_currentDeal {
    color: white;
    background-color: lightskyblue !important;
}

.pl_bold{
    font-weight:bold;
}

.pl_inlineSearch {
    max-width:160px;
}

.pl_inlineSearchForm {
    margin-top: 9px;
}