@{
    ViewBag.Title = "Home";
}

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @*<li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>*@
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect width="100%" height="100%" fill="#777"></rect>
            </svg>
            <div class="container">
                <div class="carousel-caption text-left">
                    <div class="d-inline-block">
                        <img src="~/Images/Chrome.png" class="img-fluid" width="250" role="img" />
                    </div>
                    <div class="d-inline-block text-right">
                        <h1>Find deals as you browse with the PriceBoar extension.</h1>
                        <a class="btn btn-lg btn-primary align-bottom justify-content-end" href="#" role="button">Install for Chrome</a>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="600px" fill="#777"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>One more for good measure.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Last slide">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"></rect>
                    <text x="50%" y="50%" fill="#555" dy=".3em">Last slide</text>
                </svg>
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>*@
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container marketing">
    <h2 class="h2">Todays top 10</h2>
    <hr class="featurette-divider">
    <label for="sortOptions"></label>
    <div class="row">
        <div class="col-3">
            <div class="card h-100">
                <div class="card-header">
                    <div class="flex-row">
                        <div class="d-flex justify-content-lg-between">
                            <span class="bg-warning p-2 rounded font-weight-bold">30% <span class="font-weight-lighter">off</span></span>
                            <div class="font-weight-bold text-center pt-2 ml-n4">
                                R 539
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <img src="https://media.takealot.com/covers_tsins/56415500/MPTAL00645388-1-pdpxl.png" width="144" height="144" alt="no u">
                    <div class="card-text">Berlinger Haus 8-Piece Diamond Coating Knife Set with Stand</div>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <a role="button" class="btn btn-outline-success text-success">Buy</a>
                        <a role="button" class="btn btn-outline-primary text-primary">View History</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
                <div class="card-header">
                    <div class="flex-row">
                        <div class="d-flex justify-content-lg-between">
                            <span class="bg-warning p-2 rounded font-weight-bold">23% <span class="font-weight-lighter">off</span></span>
                            <div class="font-weight-bold text-center pt-2 ml-n4">
                                R 1155
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <img src="https://media.takealot.com/covers_tsins/55572987/190198843555-2-pdpxl.jpg" width="144" height="144" alt="no u">
                    <div class="card-text">Apple Watch Series 4 44mm GPS Only Space Grey Aluminum</div>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <a role="button" class="btn btn-outline-success text-success">Buy</a>
                        <a role="button" class="btn btn-outline-primary text-primary">View History</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
                <div class="card-header">
                    <div class="flex-row">
                        <div class="d-flex justify-content-lg-between">
                            <span class="bg-warning p-2 rounded font-weight-bold">20% <span class="font-weight-lighter">off</span></span>
                            <div class="font-weight-bold text-center pt-2 ml-n4">
                                R 2500
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <img src="https://media.takealot.com/covers_tsins/44329637/44329637_1-flist.jpg" width="144" height="144" alt="no u">
                    <div class="card-text">Smeg - 2 Slice Toaster</div>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <a role="button" class="btn btn-outline-success text-success">Buy</a>
                        <a role="button" class="btn btn-outline-primary text-primary">View History</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
                <div class="card-header">
                    <div class="flex-row">
                        <div class="d-flex justify-content-lg-between">
                            <span class="bg-warning p-2 rounded font-weight-bold">15% <span class="font-weight-lighter">off</span></span>
                            <div class="font-weight-bold text-center pt-2 ml-n4">
                                R 250
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <img src="https://media.takealot.com/covers_tsins/59383161/59383161-1-pdpxl.jpeg" width="144" height="144" alt="no u">
                    <div class="card-text">Metal Magnetic Double Sided Tempered Glass Case for Huawei P30</div>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <a role="button" class="btn btn-outline-success text-success">Buy</a>
                        <a role="button" class="btn btn-outline-primary text-primary">View History</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            <div class="card h-100">
                <div class="card-header">
                    <div class="flex-row">
                        <div class="d-flex justify-content-lg-between">
                            <span class="bg-warning p-2 rounded font-weight-bold">15% <span class="font-weight-lighter">off</span></span>
                            <div class="font-weight-bold text-center pt-2 ml-n4">
                                R 250
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <img src="https://media.takealot.com/covers_tsins/59383161/59383161-1-pdpxl.jpeg" width="144" height="144" alt="no u">
                    <div class="card-text">Metal Magnetic Double Sided Tempered Glass Case for Huawei P30</div>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <a role="button" class="btn btn-outline-success text-success">Buy</a>
                        <a role="button" class="btn btn-outline-primary text-primary">View History</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
                <div class="card-header">
                    <div class="flex-row">
                        <div class="d-flex justify-content-lg-between">
                            <span class="bg-warning p-2 rounded font-weight-bold">15% <span class="font-weight-lighter">off</span></span>
                            <div class="font-weight-bold text-center pt-2 ml-n4">
                                R 250
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <img src="https://media.takealot.com/covers_tsins/59383161/59383161-1-pdpxl.jpeg" width="144" height="144" alt="no u">
                    <div class="card-text">Metal Magnetic Double Sided Tempered Glass Case for Huawei P30</div>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <a role="button" class="btn btn-outline-success text-success">Buy</a>
                        <a role="button" class="btn btn-outline-primary text-primary">View History</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
                <div class="card-header">
                    <div class="flex-row">
                        <div class="d-flex justify-content-lg-between">
                            <span class="bg-warning p-2 rounded font-weight-bold">15% <span class="font-weight-lighter">off</span></span>
                            <div class="font-weight-bold text-center pt-2 ml-n4">
                                R 250
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <img src="https://media.takealot.com/covers_tsins/59383161/59383161-1-pdpxl.jpeg" width="144" height="144" alt="no u">
                    <div class="card-text">Metal Magnetic Double Sided Tempered Glass Case for Huawei P30</div>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <a role="button" class="btn btn-outline-success text-success">Buy</a>
                        <a role="button" class="btn btn-outline-primary text-primary">View History</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- START THE FEATURETTES -->
    <!--<hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>

    <hr class="featurette-divider">-->
    <!-- /END THE FEATURETTES -->
</div>