* {
    font-family:sans-serif;
}

.dl-horizontal dt {
    white-space: normal;
}

 /*Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
}*/
 

.carousel {
    margin-bottom: 4rem;
}

.bg-main-yellow {
    background-color: #F49D1A;
}

.bg-secondary-yellow {
    background-color: #EDCA5C;
}