INSERT INTO [PollyTest].[dbo].[Website] 
	  ([Name]
      ,[Domain]
      ,[UserAgent]
      ,[Logo]
      ,[Schedule]
      ,[HeadingXPath]
      ,[SubHeadingXPath]
      ,[DescriptionXPath]
      ,[PriceXPath]
      ,[CategoryXPath]
      ,[BreadcrumbXPath]
      ,[MainImageXPath])
SELECT [Name]
      ,[Domain]
      ,[UserAgent]
      ,[Logo]
      ,[Schedule]
      ,[HeadingXPath]
      ,[SubHeadingXPath]
      ,[DescriptionXPath]
      ,[PriceXPath]
      ,[CategoryXPath]
      ,[BreadcrumbXPath]
      ,[MainImageXPath]
 FROM [PollyDb].[dbo].[Website]