@model IEnumerable<Polly.Data.Product>

@{
    ViewBag.Title = "Products";
}

<h2></h2>
<div class="col-md-12">
    @using (Html.BeginForm())
    {

    <p class="col-md-12">
        <input type="text" class="col-md-12" placeholder="PLID52093077" id="SearchString" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
    }
</div>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.LastChecked.ToShortDateString()
            </td>
            <td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>
