@model IEnumerable<Polly.Data.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<div>
    @using (Html.BeginForm())
    {

        <p>
            @Html.TextBox("SearchString")
            <input type="submit" value="Search" class="text-left" />
        </p>
    }
</div>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.LastChecked.ToShortDateString()
            </td>
            <td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>
