@model IEnumerable<Polly.Data.Product>

@{
    ViewBag.Title = "Products";
}

<h2></h2>
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="PLID12345678" id="SearchString" name="SearchString" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" id="search-button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<div class="col-md-12">
        @using (Html.BeginForm())
        {
        <p class="col-md-12">
            <center>
                <input type="text" class="searchbar col-md-12" placeholder="PLID12345678" id="SearchString" name="SearchString" />
                <input type="submit" class="btn" value="Search" />
            </center>
        </p>
        }
    </div>*@
@if (Model != null)
{
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.LastChecked.ToShortDateString()
            </td>
            <td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>
}

<script type="text/javascript">
    $(function () {
        var index = new Polly.Index();
    });
</script>
