@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <form class="form-inline mt-2 mt-md-0" id="logoutForm">
        @Html.AntiForgeryToken()
        @Html.ActionLink("nicholasb.za@gmail.com" + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a>
    </form>
}
else
{
    <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">Log in</a>
    @Html.Partial("_LoginPartial")
}
