@{
    ViewBag.Title = "Manage";
}

<div class="container pt-4">
    <div class="content"></div>
    <h2>@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                @Html.ActionLink("Change your password", "ChangePassword")
            </dd>
        </dl>
    </div>
</div>